
    <div ng-controller="tutorialController">
      <h1>{{tutorialObj.title}}</h1>
      <h2>{{tutorialObj.subTitle}}</h2>
      <!-- One Way Binding -->
      <p>Number: {{2+2}}</p>
      <p>Full Name: {{tutorialObj.fname + " " + tutorialObj.lname}}</p>
      <strong>Bind: {{tutorialObj.bind}}</strong>
      <br><br>
      <input type='button' role='button' ng-click='double()' value='Multiply'>
      <br><br>
      First Name: <input ng-model='tutorialObj.fname' type='text'>
      <br>
      Last Name: <input ng-model='tutorialObj.lname' type='text'>
      <welcome-msg></welcome-msg>
      <span welcome-msg></span>

      <p><a href="#/!">Homepage</a></p>

      <a href="#!tutorialSecond">Second Page - Tutorial</a>
      <a href="#!tutorialThird">Third Page - Tutorial</a>
    </div>
